.card {
  max-width: 100%;
}

.card__image-viewport {
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 8px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: flex-end;
}

.card__title {
  margin: 12px 0 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.card__like-button {
  margin: 12px 0 0;
  background: transparent url("../images/like-icon.svg") no-repeat center/cover;
  border: none;
  padding: 0;
  opacity: 0.4;
  width: 23px;
  height: 20px;
  transition: opacity 0.2s ease;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 684px) {
  .card__title {
    font-size: 1rem;
    line-height: 1;
  }

  /*

  This was added mainly to resize the background image (heart) as shown in the Figma design -- Just commenting this out for the time being!

  .card__like-button {
    width: 20px;
    height: 18px;
  }
  */
}
